@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rowdies:wght@300&display=swap");

:root {
  --primary-color: #495728;
  --secondary-color: #41261b;
  --accent1-color: #97b152;
  --accent2-color: #424523;

  --heading-font: "Rowdies", sans-serif;
  --paragraph-font: "Inter", sans-serif;

  --nav-background-color: var(--secondary-color);
  --nav-link-color: var(--accent1-color);
  --nav-hover-link-color: var(--accent2-color);
  --nav-hover-background-color: var(--primary-color);
}

body {
  max-width: 920px;
  margin: 0 auto;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

p {
  font-family: var(--paragraph-font);
  padding: 25px;
  line-height: 1.6rem;
}

header {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 3fr;
  gap: 32px;
  margin: 20px 0;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

header img {
  grid-column: 1 / 2;
  max-width: 90px;
}

header nav {
  grid-column: 2 / 4;
  display: flex;
  gap: 40px;
  padding: 1rem 3rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}

header nav a {
  font-family: sans-serif;
  color: var(--primary-color);
  font-weight: 700;
}

.sociallinks a,
header nav a {
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  padding: 12px 0;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
}

.hero article {
  position: absolute;
  background-color: #fff;
  top: 100px;
  margin: 0 80px;
  border-radius: 20px;
  overflow: hidden;
}

.hero article img {
  float: right;
  max-width: 300px;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f7ee;
  border-radius: 20px;
  margin: 40px 0;
  padding: 2rem;
}

.history-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.packages {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin: 40px 0;
  padding: 2rem;
}

.package-list {
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
  justify-content: center;
}

.packages figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.packages figure img {
  max-width: 120px;
  height: 90px;
  border-radius: 12px;
  object-fit: cover;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}

footer p {
  margin: 0;
  padding: 0;
}

.sociallinks {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sociallinks img {
  width: 32px;
}
