@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #222;
  background: #fff;
}

header,
main,
footer {
  max-width: 650px;
  margin: 0 auto;
  padding: 1rem 0;
}

header h1 {
  font-size: 1.7em;
  text-align: center;
  color: #004d92;
}

form {
  display: grid;
  width: 650px;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 0 1px #0101370f, 0 8px 40px #0000000d,
    0 12px 32px -16px #0101370f;
}

fieldset {
  display: grid;
  grid-gap: 0.5rem;
  gap: 0.5rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 0.5rem;
}

legend {
  padding: 0.5rem;
  color: #004d92;
  font-size: 1.3em;
}

label,
input,
button,
select,
textarea {
  font-family: system-ui, sans-serif;
}

label {
  text-align: right;
  padding-right: 1rem;
}

input,
select,
textarea {
  padding: 0.5rem;
  font-size: 1.1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}

button {
  margin: 1rem;
  background-color: #004d92;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem;
  font-size: 1.2rem;
  transition: 0.2s all ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: #0075de;
}

footer {
  margin-top: 1rem;
  padding: 1rem 0;
  text-align: center;
  font-size: 0.8rem;
  color: #999;
  border-top: 1px solid #eee;
}

.form-item {
  display: grid;
  align-items: center;
}

.column1 {
  grid-template-columns: 3fr 1fr;
  margin: 0.5rem 0;
}

.column2 {
  grid-template-columns: 1fr 2fr;
}

.centered-label {
  text-align: center;
  margin-top: 1rem;
}
